---
layout: articles
titles:
  # @start locale config
  en      : &EN       Home
  # @end locale config
show_title: false
articles:
  data_source: paginator.posts
  article_type: BlogPosting
  show_cover: false
  show_excerpt: true
  show_readmore: true
  show_info: true
---

<div class="layout--home">
  {%- include paginator.html -%}
  <section class="home-section home-section--books">
    <header><h2>Recent Books</h2></header>
    {%- assign _books_sorted = site.books | sort: 'date' | reverse -%}
    {%- assign _recent_books = _books_sorted | slice: 0, 3 -%}
    {%- include article-list.html articles=_recent_books type='grid' size='sm' -%}
    <p><a href="/reading/">See all</a></p>
  </section>
</div>
<script src="/_includes/scripts/home.js"> </script>

{{ content }}
